{% extends 'base.html.twig' %}

{% block title %}New Session{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}
    {% block body %}
        <div class="container">
            <h1>Create new Session</h1>

            {{ include('session/_form.html.twig') }}

            <a href="{{ path('session_index') }}">back to list</a>
        </div>


    {% block javascripts %}
        {{ parent() }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
        <script>
            jQuery(document).ready(function() {
                $('.js-datepicker').datepicker();
            });
        </script>
    {% endblock %}
{% endblock %}