{% extends 'base.html.twig' %}

{% block title %}Edit ResultQuestion{% endblock %}

{% block body %}
    <h1>Edit ResultQuestion</h1>

    {{ include('result_question/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('result_question_index') }}">back to list</a>

    {{ include('result_question/_delete_form.html.twig') }}
{% endblock %}