{{ form_start(form) }}
    <div class="card mx-auto p-3 col-md-10 text-secondary ">
        {{ form_widget(form) }}
        <button class="btn btn-success text-center col-md-2 ml-auto">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}